# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/launch.json
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment files
.env
.env.local
.env.*.local

# Playwright
/**/test-results/
/**/playwright-report/
/**/blob-report/
/**/playwright/.cache/

# Coverage
atlas-server/coverage
atlas-server/coverage-e2e
atlas-e2e/coverage
atlas-ui/coverage

coverage/
